body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: var(--bg-medium-hover); /* or add it to the track */
}

/* Add a thumb */
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--bg-heavy);
  border-radius: 1px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--bg-medium-hover);
}