.menu-item {
  position: relative;
  padding: 3px 10px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;

  &.more-padding {
    padding: 3px 10px 3px 20px;
  }

  &:hover {
    background-color: var(--bg-transparent);
  }
}

.menu-text {
  cursor: pointer;
}

.menu-item-text {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  &>.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &>.arrow {
    display: flex;
    align-items: center;

    &>.arrow-icon {
      transform: rotate(-90deg);
    }
  }
}

.menu-item-submenu {
  position: absolute;
  left: 100%;
  top: -5px;
  background-color: var(--bg-transparent-deep);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  border: 1px solid #eeeeee62;
  padding: 5px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.menu-item-popup {
  padding: 5px;
  position: absolute;
  top: 25px;
  background-color: var(--bg-transparent-deep);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  border: 1px solid #eeeeee62;
  max-height: 80vh;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.dropdown {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  padding: 0 10px;
}

.up-arrow {
  transform: rotate(180deg);
}

.tick {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}