.left-bar {
  flex: 0 0 200px;

  .menu-item {
    transition: background-color 0.2s;
    height: 35px;
    line-height: 35px;
    background-color: var(--bg-heavy-hover);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-heavy);
    }
  }
}

.info-page {
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 20px;
  flex: 1 1 auto;
  background-color: var(--bg-medium);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: auto;
}

.setting-page {
  display: flex;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--bg-medium-hover);
    /* or add it to the track */
  }

  /* Add a thumb */
  *::-webkit-scrollbar-thumb {
    background: var(--bg-heavy);
    border-radius: 2px;
  }

  *::-webkit-scrollbar-track {
    background-color: var(--bg-medium-hover);
  }

}

.checkbox {
  border-color: var(--border-color-strong);
}

.input {
  border: 1px solid var(--border-color-strong);
  outline: none;
  font-size: 12px;
  padding: 3px;
  margin: 2px;
  background-color: var(--bg-light);
  color: var(--font-color);
}

.setting-item {
  margin: 10px;
  font-size: 14px;

  &>span:first-child {
    display: inline-block;
    margin-right: 10px;
  }
}

.setting-section {
  padding-left: 10px;
  border-left: 1px solid var(--border-color-strong);
}

.user-list {
  margin-top: 10px;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.user-list-item {
  &.head {
    font-weight: 900;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 12px;
    margin-bottom: 10px;
  }

  white-space: nowrap;
  padding: 5px 0;

  &>span {
    display: inline-block;
    width: 160px;
  }
}

.setting-item-row {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  padding: 5px;
}